{% extends 'app/base.html' %}
{% block content %}
<main class="container">
<div class="col-auto">
    <div class="post">
        
        <h2>{{ team.title }}</h2>      

        <p>{{ team.text|linebreaksbr }}</p>

        <div class="card-title text-center">
        {% if request.user == team.owner %}
        <a class="btn btn-primary" href="{% url 'team_edit' pk=team.pk %}">更新</a>
        {% endif %}
        
        {% if user.is_authenticated %}
        {% if not is_menber %}
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-success"　type="submit">チームに参加</button>
        </form>
        {% else %}
            <button class="btn btn-secondary" disabled="disabled">所属中！</button>
            <a class="btn btn-warning" href="{% url 'team_chat' teamid=team.id %}">チャットに参加</a>
        {% endif %}
        {% endif %}
        </div>
    </div>
</div>
</main>     
{% endblock %}