{% extends 'app/base.html' %}
{% block content %}
<main class="container">
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">チーム一覧</h6>
    {% for team in object_list %}
    <div class="media text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom border-gray">
        <strong><a class="d-block text-dark" type="button" href="{% url 'team_detail' pk=team.pk %}">{{ team.title }}</a></strong>
        {{ team.text|linebreaksbr }}
        </p>
    </div>
    {% endfor %}
    <div align="right">
        <a href="{% url 'team_new' %}" class="btn btn-primary">チーム作成はこちらをクリック！！</a>
    </div>
    
</div>
</main>

{% include 'app/pagination.html' %}

{% endblock %}