{% extends 'app/base.html' %}
{% block content %}
<div class="col-auto">
    <div class="post">
        
        <h2>{{ team.title }}</h2>      

        <p>{{ team.text|linebreaksbr }}</p>
        
        {% if request.user == team.owner %}
        <a class="btn btn-primary" href="{% url 'team_edit' pk=team.pk %}">更新</a>
        {% endif %}
        
        {% if not request.user == team.menber %}
        <a class="btn btn-success"　type="submit" href="/">チームに参加</a>
        {% endif %}
    </div>
</div>     
{% endblock %}