{% extends 'app/base.html' %}

{% block content %}
<main class="container">
<div class="col-auto">
    <div class="post">
        
        {% if mineral.published_date %}
        <div class="card-title text-center">
        
        <h2>{{ mineral.title }}</h2>
        <p>{{ mineral.text|linebreaksbr }}</p>
        
        </div>
        {% endif %}
    </div>
</div>

<main class="container">
    <div class="row" >
        {% for map in maps %}
        <div class="col-auto">
            <div class="card" style="width: 15rem;">
                <image class="card-img-top" src='/media/{{ map.image }}' style="width: 15rem; height: 10rem;">
                <div class="card-body">
                    <h3 class="card-title">{{ map.place }}</h3>
                    <p class="card-text">{{ map.hint|linebreaksbr }}</p>
                    <a href="{% url 'map_detail' map.pk %}" class="btn btn-primary">詳細</a>
                </div>
            </div>
        </div>
        {% endfor %}     
    </div>
</main>
       
{% include 'app/pagination.html' %}
{% endblock %}