{% extends 'app/base.html' %}

{% block content %}
<div class="col-auto">
    <div class="post">
        {% if map.published_date %}
        <div class="date">
        {{ map.published_date }}
        
        <h2>{{ map.place }}</h2>
        <p>{{ map.hint|linebreaksbr }}</p>
        
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'map_edit' pk=map.pk %}"><span class="glyphicon glyphicon-pencil">更新</span></a>
        <a class="btn btn-danger" href="{% url 'map_delete' pk=map.pk %}"><span class="glyphicon glyphicon-pencil">削除</span></a>
        {% endif %}
        
        </div>
        {% endif %}
    </div>
</div>    
{% endblock %}