<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    
    <title>Miner'sGuild</title>
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        採鉱者組合
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto mt-2 mt-lg-0">
                <a class="nav-item nav-link" href="#">会員登録/ログイン</a>
                <a class="nav-item nav-link" href="#">ログアウト</a>
            </div>
        </div>
    </nav>
        <div class="main">
            <div class="flash text-center" style="opacity: 0.01;">
            </div>
            <div class="application-top mb-5">
                <div class="catchcopy">
                    <div class="text-center">キャッチコピー</div>
                        <div class="text-center">
                        <a class="top-page-btn mt-5" href="/users/sign_up">今すぐ始めてみる</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="application-about">
            <div class="about-title text-center">
                <span class="about-title-text">採鉱者組合とは?</span>
            </div>
            <p class="text-center about-description">  
            ああああ
            </p>
        </div>

        <div class="worries-title text-center">鉱石採集をもっと楽しくしてみませんか？</div>
        <div class="angler-worries row">
            <div class="col-xs-12 col-md-6 worries-img-area text-center">
                <img src="../assets/angler-worries.jpg" class="worries-img">
            </div>
            <div class="col-xs-12 col-md-6 worries-area">
               <ul class="worries-list">
               <li class="worries-item fadein-left active">鉱石の情報が見たい...</li>
               <li class="worries-item fadein-left active">採鉱者の仲間を見つけたい...</li>
               <li class="worries-item fadein-left active">キレイな鉱石が採れたけど、種類がわからない...</li>
               </ul>
            </div>
        </div>

    <div class="settle-title text-center fadein active">そんな人に”採鉱者組合”です!!</div>
    <div class="container-fluid">
        <div class="settle-area row text-center">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="settle fadein active">
                    <div class="settle-heading pt-4">鉱石採集を宝探し感覚で！</div>
                    <img src="" class="settle-img">
                    <p class="settle-description mt-3">ユーザーが投稿した宝の地図！写真と文から採取場所を探れ！</p>
                    </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="settle fadein active">
                    <div class="settle-heading pt-4">チームを組もう！</div>
                    <img src="" class="settle-img">
                    <p class="settle-description mt-3">チームに入って情報共有！一緒に採集！仲間を増やそう！</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                 <div class="settle fadein active">
                    <div class="settle-heading pt-4">鉱石の下調べもこちらで…</div>
                    <img src="" class="settle-img">
                    <p class="settle-description mt-3">鉱石データ完備！近所で取れる鉱石を調べよう。</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="settle fadein active">
                    <div class="settle-heading pt-4">きれいだけど…これは何？</div>
                    <img src="" class="settle-img">
                    <p class="settle-description mt-3">そんなときは有識者に相談！ユーザーに質問して判別してもらおう。たまに間違えるかも？</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>